.dash-cont {
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 9;
    background-color: white;
    border-radius: 4px;
    /* box-shadow: 6px 6px 20px #ccc; */
    width: 20vw;
    max-width: 350px;
}
.app-dash-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}
