.forgotPassword-cont {
    background-color: white;
    padding: 40px;
    border: 0.5px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
}
.forgotPassword-title {
    padding: 15px;
}
