.selectarea-cont {
    background-color: white;
    padding: 20px;
    border: 0.2px solid #ccc;
    border-radius: 4px;
    width: 20vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 350px;
}
.select-area-h2 {
    margin-bottom: 12px;
}
.card-checkbox-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.card-clear-filter {
    width: 100%;
}
