.hospital-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(131, 38, 218);
    color: white;
    align-items: center;
}
.hospital-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px;
}
.hospital-editdata {
    width: 150px;
    height: 40px;
}
.hospital-show-cont,
.hospital-edit-cont {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 15vw;
}
.hospital-signout-btn {
    width: 150px;
}
.hospital-edit-cont {
}
.hospital-edit-text {
    margin-bottom: 15px;
}
